<!doctype html>
<html lang="ru">
<head>
	<link rel="stylesheet" type="text/css" media="screen" href="%PATH%css/common.css">
	<link rel="stylesheet" type="text/css" media="screen" href="%PATH%css/lightbox.css">
	<script type="text/javascript" src="%PATH%js/jqwery.js"></script>
	<script type="text/javascript" src="%PATH%js/lightbox.js"></script>
	<meta http-equiv="Content-Type" charset="UTF-8">
	<!--link rel="shortcut icon" href="/images/favicon.png"-->
	<meta name="keywords" content="Слон, школа, летняя школа, лагерь, АВБ, Березин, ИПМ, ИСН, Неретин, математический лагерь, лагерь программирования, куда отправить сына летом">
	<meta name="description" content="Сайт летней школы Слон">
	<title>Слон</title>
	<link href="http://fonts.googleapis.com/css?family=Ubuntu|Comfortaa|Didact+Gothic&subset=latin,cyrillic-ext,cyrillic" rel="stylesheet" type="text/css">
	<!--link href="http://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic-ext,cyrillic" rel="stylesheet" type="text/css"-->
</head>
<body>
<div id = "container">
	<a name="top"></a>
	<div id = "left">
		<div id="menu">
			<ul id = "menu_ul">
				<li class = "menu_li"><a class = "menu_a" href = "/"><img src="%PATH%images/who.png"></a></li>
				<li class = "menu_li"><a class = "menu_a" href = "/index.php?file=faq.html"><img src="%PATH%images/faq.png"></a></li>
				<li class = "menu_li"><a class = "menu_a" href = "/index.php?file=advices.html"><img src="%PATH%images/advise.png"></a></li>
				<li class = "menu_li"><a class = "menu_a" href = "/index.php?file=timetable.html"><img src="%PATH%images/timetable.png"></a></li>
				<li class = "menu_li"><a class = "menu_a" href = "/index.php?file=traditions.html"><img src="%PATH%images/traditions.png"></a></li>
				<!--li class = "menu_li"><a class = "menu_a" href="/index.php?file=teachers.html"><img src="%PATH%images/teachers.png"></a></li>
				<li class = "menu_li"><a class = "menu_a" href="/index.php?file="><img src="%PATH%images/reports.png"></a></li-->
				<li class = "menu_li"><a class = "menu_a" href="/index.php?file=photo.html"><img src="%PATH%images/photo.png"></a></li>
			</ul>
		</div>
	</div>
	<div id = "right">
		<div id = "header"><a href = "/"><img src = "%PATH%images/title.jpg"></a></div>
		<div id = "main">
			<div id = "content">
				%CONTENT%
			</div>
		</div>
	</div>
	<div id = "footer">
		<div id = "copy">
			<img src="%PATH%images/contacts.png">
			<p>&copy; Андрей Дмитриевич Зaболотский, (903)5678-026<br>
			<a href="http://vk.com/slon_ipm">Группа вконтакте</a><br>
			<a href="http://class.neretin.ru/">Старый сайт</a></p>
        </div>
	</div>
	<a id="go_up" href="#top" title="Наверх"></a>
</div>
</body>
</html>
